<div style="background-color:rgb(240, 240, 240);">
    <br>
    <h1 class="Inspired" style="margin: 20px; margin-top: 3px;">Contact</h1>
    <i style="font-weight: 800;font-size: large;">
        <pre style="margin: 20px; margin-top: -10px;">
We’re always happy to answer your queries.Make reservation inquiries, 
group bookings or organize your wedding or event.</pre>
    </i>
    <hr>
</div>

<div style="background-color:rgb(240, 240, 240); margin-top: -20px; margin-bottom: -20px;">
<div style="margin:20px; background-color:rgb(240, 240, 240);">
    <br>
    <h4>ALL INQUIRIES :</h4>
    <uL>
        <li>Call us on our <b>TOLL FREE NO. : +022-8800-7700</b></li>
        <li>Email : RMUnderSea@mail.com</li>
    </uL>
    <h3>For Making Reservation : <a routerLink="/reservation" style="font-size: large;">Click Here</a></h3>
    <br>
</div>
</div>
<hr>

<div> 
    <div style="background-color:rgb(240, 240, 240);margin-top: -20px; margin-bottom: -5px;"> 
        <br>
    <h1 class="Inspired" style="margin-left: 20px; background-color:rgb(240, 240, 240) ;" >Location</h1>
    </div>
    <div class="row" style="background-color: #2f3238;">
        <div class="col">
            <br><br><br>
            <h1
                style="font-family:Avenir Next LT W01 Bold; letter-spacing: .3em; color: #fff; font-size: 3rem; text-align: center;">
                <b>LAKSHADWEEP</b>
            </h1>
            <div style="font-family: Helvetica; color: rgb(155, 155, 155); letter-spacing: .3em; ">
                <h5><b>
                        <pre>
                                        AMINI ISLAND, 682555, LAKSHADWEEP
                                        TELEPHONE: +022-8800-7700
                    </pre>
                    </b></h5>
                <br>
            </div>
        </div>

    </div>

</div>


<div style="background-color:rgb(240, 240, 240); margin-top: -20px;">
<div style="margin: 20px; background-color:rgb(240, 240, 240);">
    <br>
    <h1 class="Inspired">Extra</h1>
    <b>
        <p>For group bookings or organizing your wedding or event</p>
        <p>Call us on our TOLL FREE NO. : +022-8800-7700</p>
    </b>
    <br>
</div>
</div>