
<!-- image caurosel -->
<div class="row">

    <div class="col-12 lg">
        <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/images/ithaa1.jpg" height="720px" width="720px" class="d-block w-100"
                        alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Luxurious Experience</h5>
                        <p>Five meters below the surface of the ocean</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/images/ithaa2.jpg" height="720px" width="720px" class="d-block w-100"
                        alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Fusion Menu</h5>
                        <p>Best Dishes with fine wines </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/images/ithaa3.jpg" height="720px" width="720px" class="d-block w-100"
                        alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>World’s first</h5>
                        <p>The world’s first undersea restaurant, with panoramic coral garden views</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<!-- RM Information -->
<div class="row ">
    <div class="col" style="background-color: rgb(235, 229, 229); margin: 20px; margin-left: 30px;">
        <h1 style="color: rgb(0, 140, 255);text-align: center; margin: 30px; font-size: 60px;">
            RM
            <pre style="font-size: large;"><b>A UnderSea Restaurant</b></pre>
        </h1>
        <hr>
        <div style="margin: 30px;">
            <blockquote class="blockquote" style="margin: 50px;"> five meters below the surface of the
                ocean,
                in the world’s first undersea restaurant, with panoramic
                coral garden views and fusion menus matched with fine wines.
                RM can be reserved for private dining, weddings and special occasions.
            </blockquote>
        </div>
    </div>
    <div class="col" style="background-color: rgb(235, 229, 229); margin: 20px;">
        <div>
            <h1 class="Inspired" style="text-align: center; margin: 20px;">Inspired By</h1>
        </div>
        <div class="row">
            <div class="col" style="margin: 20px;">
                <blockquote class="blockquote">
                    Our RM Restaurant is inspired by Ithaa
                </blockquote>
            </div>
            <div class="col" style="margin: 20px;">
                <img src="../../../assets/images/ithaa.jpg" class="rounded mx-auto d-bloc"
                    alt="Ithaa Construction">
            </div>
        </div>
    </div>
</div>

<br>

<!-- Inspire your sense -->
<div class="row" >
    <div class="col-7" style="margin-left:20px;"> 
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" >
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2000">
                        <img src="../../../assets/images/ithaab1.jpg"  class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Western Style</h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="../../../assets/images/ithaab2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5> Trailblazing Restaurant</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col">
            <div>
                <br><br><br><br><br><br><br><br><br><br>
    
    
                <h1 style="text-align: center;">INSPIRE YOUR SENSES</h1>
                <blockquote class="blockquote" id="blockq" style="margin: 10px; text-align: center;">
                    The set lunch and dinner menus, matched with a wine concept,
                    showcase local flavors blended with Western influences.
                    Our trailblazing restaurant is also open for mid-morning cocktails.
                </blockquote>
            </div>
        </div>
</div>

<br>

<!-- below ispire your sense 3 box -->
    <div class="row">
        <div class="col" style="background-color: #2f3238; margin: 30px;">
          <div>
              <br>
              <h5 style="text-align: center; color: rgb(155, 155, 155);">SCAN HERE</h5>
              <br>
              <img src="../../../assets/images/qr.jpg" width="200" height="200" class="rounded mx-auto d-block" alt="">
              <br>
              <pre style="color: rgb(212, 211, 211);" >                        _______________</pre>
              
              <h4 style="font-weight: 600; letter-spacing: .1em; text-align: center;color: rgb(190, 189, 189); font-family: Helvetica;">SCAN TO VIEW UPDATED RESTAURANT SCHEDULE</h4>
              <br>
          </div>
        </div>
        <div class="col" style="background-color: #2f3238;; margin: 30px; text-decoration: Helvetica;">
            <br><br><br><br>
            <h4 style="text-align: center; color: rgb(155, 155, 155);">RESERVATION</h4>
            <br>
            <h1 style="text-align: center; color: rgb(190, 189, 189);"><b>CALL: +022-8800-7700</b></h1>
            <pre style="color: rgb(212, 211, 211);" >                        _______________</pre>
            <a routerLink="/extra" style="text-align: center; text-decoration: none; color: rgb(190, 189, 189);" ><h1>EMAIL</h1></a>
            <br>
            <p style="font-weight: 500; text-align: center; color: rgb(155, 155, 155);"><i>Dinner reservations are for adults only.</i></p>
        </div>
        <div class="col" style="background-color: #2f3238; margin: 30px; text-decoration: Helvetica;">
            <br><br><br><br>
            <h4 style="text-align: center; color: rgb(155, 155, 155);">AWARDS</h4>
            
            <p style="text-align: center; color: rgb(190, 189, 189); font-size: xx-large; margin: 10px;"><b>GLOBAL RESTAURANT OF THE YEAR 2021</b></p>
            <pre style="color: rgb(212, 211, 211);" >                        _______________</pre>
            <p style="text-align: center; color: rgb(190, 189, 189); font-size: xx-large; margin: 10px;"><b>LUXURY UNIQUE EXPERIENCE 2021</b></p>

        </div>
    </div>
    
    <br>

<!-- below 3 box part -->
<div class="row" style="background-color: #2f3238;">
    <div class="col">
        <br><br><br>
        <h1 style="font-family:Avenir Next LT W01 Bold; letter-spacing: .3em; color: #fff; font-size: 3rem; text-align: center;"><b>LAKSHADWEEP</b></h1>
        <div style="font-family: Helvetica; color: rgb(155, 155, 155); letter-spacing: .3em; ">
        <h5><b>
            <pre>
           AMINI ISLAND, 682555, LAKSHADWEEP
           TELEPHONE: +022-8800-7700
            </pre>
        </b></h5>
        </div>
    </div>
    <div class="col">
        <br><br><br><br>
        <button type="button" id="butn1" class="btn btn-outline-secondary " routerLink="/extra">CONTACT US</button>
        <button type="button" id="butn1" style="padding-left: 60px;padding-right: 60px;" class="btn btn-outline-secondary" routerLink="/extra">LOCATION</button>
        <button type="button" id="butn1" class="btn btn-outline-secondary" routerLink="/extra" style="padding-left:80px; padding-right: 80px;">
            EXTRA</button>
        <br><br><br><br><br>
    </div>
</div>


    